@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

/*reset all styles*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: black;
  font-family: "Open Sans", sans-serif;
}

/*Logo lettering*/
h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
}

/*Nav bar links lettering*/
#navlinks {
  letter-spacing: 2px;
  list-style-type: none;
  font-size: 110%;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(3, 3, 3);
  justify-content: center;
  align-items: center;


}

#navlinks > li {
  margin-bottom: 0rem;
  padding-right: 20px;

}

/*Header stucture*/
header {
  background-color: rgb(255, 255, 255);
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  
}

/*Remove styles off items in header*/
header a {
  text-decoration: none;
  color: inherit;
}

/****** navbar *****/
nav {
  position: absolute;
  width: 100%;
  box-shadow: 0 2px 2px #181818;
  left: 0;
  padding: 0 1rem;
  top: 100%;
  display: none;
  background-color: #ffffff;
}

/****** navbar burger size *****/

.nav-toggle-label {
  font-size: 2rem;
}

/****** navbar burger press *****/

#nav-toggle:checked ~ nav {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#nav-toggle {
  display: none;
}

/***** Navbar highlight color *****/

.link:hover {
  color: rgb(155, 155, 155);
}

/***** Hero Image ******/

#hero {
  width: 100%;
  height: 700px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/people-2567915.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-align: center;
}
/***** Hero Image Text ******/

#herotext {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 105%;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.150);
  line-height: 30px;
}

/***** Hero Image Text Heading ******/

#herotext h2 {
  padding-bottom: 15px;
  text-transform: uppercase;
}

/***** About Section *****/

#about {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 200px 40px;
  background-color: #fafafa;
  line-height: 25px;
  
}

/***** About Section Heading ******/

#about h2 {
  text-transform: capitalize;
  letter-spacing: 2px;
  border-bottom: #9c2cf7 solid 1px;
  padding-bottom: 20px;
  width: 50%;
  margin: 0 auto;
  font-size: 1rem;
}

/***** About Section Paragraph ******/

#about p {
  padding-top: 30px;
  margin: 0 auto;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.150);
}
/***** Responsive images on home page*****/

#responsiveimages {
  padding: 100px 40px;
}

/***** Responsive images container*****/
#imagescontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/***** Responsive image size and text *****/
.images {
  margin: 0 auto;
  margin-bottom: 100px;
  height: 300px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  text-align: center;
  font-size: large;
  transition: transform 0.3s ease-in-out;
  border-radius: 3px;
}

.images:hover {
  transform: scale(1.1);
}
/***** Responsive images paragraphs*****/
.images p {
  padding: 20px;
  width: 90%;
}

/***** Responsive images images*****/

#image1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/pexels-anna-tarazevich-5483021.jpg") no-repeat center
      center/cover;
}
#image2 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Women-on-laptop.jpg") no-repeat center center/cover;
}

#image3 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Donation Phone.jpg") no-repeat center center/cover;
}



/***** Responsive info section with flexwrap*****/

#info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 14px;
  color: rgb(0, 0, 0);
  background-color: #fafafa;
  
}

.infocolumns {
  padding: 40px;
  flex-grow: 1;
  max-width: 100%;
}

.infoheading {
  margin-bottom: 30px;
  text-align: center;
  font-size: 120%;
}

.infocolumns p {
  line-height: 25px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.150);
}

/***** Footer *****/
footer {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  /***** Footer Links *****/
  #footerlinks {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  #footerlinks li {
    display: flex;
    padding: 10px;

  }
  
  #footerlinks a {
    text-decoration: none;
    display: flex;
    color: #000000;
    font-size: 150%;
  }

/***** Contact us page form *****/

#form{
display: flex;
justify-content: center;
align-items: center;
padding: 1em;
max-width: 700px;
background-color: #fafafa;
flex-direction: column;
margin: auto;
height: 100%;
margin-top: 100px;
}

.formfield{
    width:100%;
    padding: 15px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#message{
    height: 150px;
    width: 100%;

}

#button{
    width: 150px;
    margin: 0 auto;
    
}

/***** Media *****/
@media screen and (min-width: 768px) {
  nav {
    display: block;
    justify-content: flex baseline;
    box-shadow: none;
    width: fit-content;
    position: static;
    padding: 0 1rem;
  }
  #navlinks {
    flex-direction: row;
    padding: none;
    margin: none;
  }

  .nav-toggle-label {
    display: none;
  }

  #herotext {
    font-size: 150%;
  }
  #about h2 {
    font-size: 1.5rem;
  }

  #about p {
    width: 50%;
  }
  .infocolumns {
    max-width: 50%;
  }
  #info {
    font-size: 16px;
}


#contactus{
    width: 500px;
}